.carousel{
	margin-top: 50px;
}

.warna-pengguna{
	background-color: #009688;
}
.warna-text{
	color: #ffffff;
}
i{
	color: #ffffff;
}
.container h3{
	margin-top: 100px;
}
.container .container-fluid input{
	margin-top: 70px;
}
.service-box{
	color: #ffffff;
}
.ukuran-gambar{
	margin-top: 10px;
	max-height: 50%;
	max-width: 50%;
}
.text-center{
	margin-top: 30px;
}
img{
	margin: auto;
}
#div{
	background-color: blue;
}
span{
	
}
.bottom {
	margin:auto;
    background-color: #373737;
    color: #ffffff;
}
.bottom .container-fluid h4 {
	margin-top: 40px;
    text-align: left;
}
.bottom .container-fluid {
    min-height: 200px;
    border: 1px;
    border-color: red;
}
.bottom .container-fluid p {
    text-align: justify;
}

.bawah{
	background-color: #474747;
	min-height: 20px;
}
.bawah p {
	text-align: center;
	margin: auto;
}
.jajal{
	color: red;
	background-color: green;
	margin-top: 40px;
}

span
{
	margin-left: 200px;
}

.plus
{
	margin-left: 400px;
}